.nav-drawer__list-item a:hover, .nav-drawer__list-item p:hover {
    background: #BBDEFB;
}

.nav-drawer__list-item a {
    display: block;
    height: 3em;
    line-height: 3em;
    color: #2979ff;
    font-size: 1em;
    text-decoration: none;
}

.ListItem__emoji {
    position: absolute;
    left: 1em;
    font-family: monospace;
}

.ListItem__title {
    position: absolute;
    left: 3em;
    font-family: Arial, Helvetica, sans-serif;
}
